@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.App)]
@using Models

<div class="row">
    @if (_create != null)
    {
        <div class="col"></div>
        <div class="col">
        <legend>@_t.AddTitle</legend>
        <form @onsubmit=SaveCreateClicked>
            <TextBox For=@nameof(AppCreateModel.Name) Label=@_t.Name @bind-Value=_create.Name Errors=_errors Required
                AutoFocus />
            <TextBox For=@nameof(AppCreateModel.RedirectUri) Label=@_t.RedirectUri @bind-Value=_create.RedirectUri
                Required Errors=_errors />
            <TextBox For=@nameof(AppCreateModel.Secret) Label=@_t.Secret @bind-Value=_create.Secret Errors=_errors />
            <Switch For=@nameof(AppCreateModel.AllowAllUsers) Label=@_t.AllowAllUsers @bind-Value=_create.AllowAllUsers
                Errors=_errors />
            <Switch For=@nameof(AppCreateModel.Disabled) Label=@_t.Disabled @bind-Value=_create.Disabled
                Errors=_errors />

            <div class="float-end">
                <button type="submit" class="btn btn-primary">@_t.Save</button>
                <button type="button" class="btn btn-outline-danger ms-2" @onclick=CancelClicked>@_t.Cancel</button>
            </div>
        </form>
    </div>
        <div class="col"></div>
    }
    else if (_edit != null)
    {
        <div class="col">
            <legend>@_t.EditTitle @_edit.Name</legend>
            <form @onsubmit=SaveEditClicked>
                <TextBox For=@nameof(AppEditModel.Name) Label=@_t.Name @bind-Value=_edit.Name Errors=_errors Required
                AutoFocus />
                <TextBox For=@nameof(AppEditModel.RedirectUri) Label=@_t.RedirectUri @bind-Value=_edit.RedirectUri Required
                Errors=_errors />
                <TextBox For=@nameof(AppEditModel.NewSecret) Label=@_t.NewSecret @bind-Value=_edit.NewSecret
                Errors=_errors />
                <Switch For=@nameof(AppEditModel.AllowAllUsers) Label=@_t.AllowAllUsers @bind-Value=_edit.AllowAllUsers
                Errors=_errors />
                <Switch For=@nameof(AppEditModel.Disabled) Label=@_t.Disabled @bind-Value=_edit.Disabled Errors=_errors />

                <div class="float-end">
                    <button type="submit" class="btn btn-primary">@_t.SaveChanges</button>
                    <button type="button" class="btn btn-outline-danger ms-2" @onclick=CancelClicked>@_t.Cancel</button>
                </div>
            </form>
        </div>
        <div class="col">
        App roles
    </div>
    }
    else
    {
        <text>@_t.NotFound</text>
    }
</div>