@using System.Reflection
@using authica.Translations

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container-xxl">
        <a class="navbar-brand me-0" href="@C.Routes.Root">@_t.App<sup class="text-muted">@Version</sup></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-md-flex justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="@C.Routes.Roles">@_t.Roles</a></li>
                <li class="nav-item"><a class="nav-link" href="@C.Routes.Users">@_t.Users</a></li>
                <li class="nav-item"><a class="nav-link" href="@C.Routes.Apps">@_t.Apps</a></li>
            </ul>
            <div class="dropdown text-end navbar-nav">
                <a href="#" class="nav-link d-block text-decoration-none dropdown-toggle" id="user-dropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Ja korisnik
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="@C.Routes.SignOut">@_t.SignOut</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

@code {
    private string? Version;
    private readonly INavigation _t = LocalizationFactory.Navigation();
    protected override void OnInitialized()
    {
        Version =
        Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion;
    }
}