@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Configuration)]

@if (_edit != null)
{
    <div class="row">
    <div class="col-lg-4 col-md-6 mt-2">
        <div class="card">
            <div class="card-header">@_t.DetailsSection</div>
            <div class="card-body">
                <TextBox For=@nameof(_edit.Issuer) Label=@_t.Issuer @bind-Value=_edit.Issuer Errors=_errors Required />
                <TextBox For=@nameof(_edit.Domain) Label=@_t.Domain @bind-Value=_edit.Domain Errors=_errors Required />
                <TextBox For=@nameof(_edit.HostName) Label=@_t.HostName @bind-Value=_edit.HostName Errors=_errors
                    Required />
                <Switch For=@nameof(_edit.EnableLdap) Label=@_t.EnableLdap @bind-Value=_edit.EnableLdap
                    Errors=_errors />
                <IntegerBox For=@nameof(_edit.MinPasswordLength) Label=@_t.MinPasswordLength
                    @bind-Value=_edit.MinPasswordLength Errors=_errors Required />
                <IntegerBox For=@nameof(_edit.MaxPasswordLength) Label=@_t.MaxPasswordLength
                    @bind-Value=_edit.MaxPasswordLength Errors=_errors Required />
                <TimeSpanBox For=@nameof(_edit.MaxSessionDuration) Label=@_t.MaxSessionDuration
                    @bind-Value=_edit.MaxSessionDuration Required Errors=_errors />
                <IntegerBox For=@nameof(_edit.MaxInfractions) Label=@_t.MaxInfractions @bind-Value=_edit.MaxInfractions
                    Errors=_errors Required />
                <TimeSpanBox For=@nameof(_edit.InfractionExpiration) Label=@_t.InfractionExpiration
                    @bind-Value=_edit.InfractionExpiration Required Errors=_errors />
                <TimeSpanBox For=@nameof(_edit.BanTime) Label=@_t.BanTime @bind-Value=_edit.BanTime Required
                    Errors=_errors />
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mt-2">
        <div class="card">
            <div class="card-header">@_t.GeoSection</div>
            @if (!_edit.IsGeoBlockSetup)
                {
                    <div class="card-header bg-warning d-flex">
                        <i class="bi bi-exclamation-triangle"></i>
                        <div class="ms-2">@_t.GeoBlockNotSetup</div>
                    </div>
                }
                <div class="card-body">
                    <div class="mb-3">
                        <label for="SmtpHost" class="form-label">@_t.AllowedCountryCodes</label>
                        <ul class="list-group mb-2">
                            @foreach (var country in _edit.AllowedCountryCodes)
                            {
                                <li @key=country class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>@country</span>
                                    <button class="btn btn-sm btn-outline-danger" type="button"
                                @onclick="() => RemoveCountryCode(country)">
                                        @_t.Remove
                                    </button>
                                </li>
                            }
                        </ul>
                        <div class="input-group @(_invalidCountryCode ? "is-invalid" : "")">
                            <a class="btn btn-outline-info" title=@_t.NewCountryCodeInfo target="_blank"
                            href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements">
                                <i class="bi bi-question"></i>
                            </a>
                            <input type="text" class="form-control" placeholder=@_t.NewCountryCode @bind=_newCountryCode>
                            <button class="btn btn-outline-success" type="button" @onclick=AddCountryCode>
                                @_t.Add
                            </button>
                        </div>
                        @if (_invalidCountryCode)
                        {
                            <div class="invalid-feedback">@_t.ValidationInvalid</div>
                        }
                    </div>

                    <div class="mb-3">
                        <label class="form-label">@_t.MaxMindLicense</label>

                        <div class="input-group">
                            <a class="btn btn-outline-info" title=@_t.NewCountryCodeInfo target="_blank"
                            href="https://dev.maxmind.com/geoip/geolite2-free-geolocation-data">
                                <i class="bi bi-question"></i>
                            </a>
                            <input type="text" class="form-control" @bind-value=_edit.MaxMindLicenseKey>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">@_t.MaxMindLastDownloaded</label>
                        <div class="input-group">
                            <input type="text" class="form-control" value=@LastGeoDownload()>
                            <button class="btn btn-outline-success" type="button" @onclick=DownloadDb
                            title=@_t.MaxMindDownload>
                                <i class="bi bi-cloud-arrow-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-2">
            <div class="card">
                <div class="card-header">@_t.SmtpSection</div>
                @if (!_edit.IsMailSetup)
                {
                    <div class="card-header bg-warning d-flex">
                        <i class="bi bi-exclamation-triangle"></i>
                        <div class="ms-2">@_t.SmtpNotSetup</div>
                    </div>
                }
                <div class="card-body">
                    <TextBox For=@nameof(_edit.SmtpFromName) Label=@_t.SmtpFromName @bind-Value=_edit.SmtpFromName Required
                    Errors=_errors />
                    <TextBox For=@nameof(_edit.SmtpFromAddress) Label=@_t.SmtpFromAddress @bind-Value=_edit.SmtpFromAddress
                    Required Errors=_errors />
                    <TextBox For=@nameof(_edit.SmtpSubjectPrefix) Label=@_t.SmtpSubjectPrefix
                    @bind-Value=_edit.SmtpSubjectPrefix Required Errors=_errors />
                    <TextBox For=@nameof(_edit.SmtpHost) Label=@_t.SmtpHost @bind-Value=_edit.SmtpHost Errors=_errors />
                    <IntegerBox For=@nameof(_edit.SmtpPort) Label=@_t.SmtpPort @bind-Value=_edit.SmtpPort Errors=_errors />
                    <Switch For=@nameof(_edit.SmtpSsl) Label=@_t.SmtpSsl @bind-Value=_edit.SmtpSsl Errors=_errors />
                    <TimeSpanBox For=@nameof(_edit.SmtpTimeout) Label=@_t.SmtpTimeout @bind-Value=_edit.SmtpTimeout Required
                    Errors=_errors />
                    <TextBox For=@nameof(_edit.SmtpUser) Label=@_t.SmtpUser @bind-Value=_edit.SmtpUser Errors=_errors />
                    <TextBox For=@nameof(_edit.SmtpPassword) Type="password" Label=@_t.SmtpPassword
                    AutoComplete="new-password" @bind-Value=_edit.SmtpPassword Errors=_errors />
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder=@_t.SmtpTestEmailAddress @bind=TestEmail>
                        <button class="btn btn-info" type="button" title=@_t.SmtpTestSend @onclick=SendTestEmail>
                            <i class="bi bi-envelope"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 text-end">
            <button type="submit" @onclick=Save class="btn btn-success">@_t.SaveChanges</button>
            @* <button type="button" class="btn btn-outline-danger ms-2" @onclick=CancelClicked>@_t.Cancel</button> *@
        </div>
    </div>
}